# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db

# Python packaging
build/
dist/
*.egg-info/